{
    "openapi": "3.0.0",
    "info": {
        "title": "Ords Admin",
        "version": "1.0.0",
        "x-vb": {}
    },
    "servers": [
        {
            "url": "https://xxxxxxx-xxxx.adb.xxxxxx.oraclecloudapps.com/ords/admin",
            "description": "Ords Admin",
            "x-vb": {
                "anonymousAccess": true,
                "forceProxy": "cors"
            }
        }
    ],
    "paths": {
        "/emp/": {
            "get": {
                "operationId": "getEmp",
                "responses": {
                    "default": {
                        "description": "Response for default",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetEmp"
                                },
                                "examples": {
                                    "vb": {
                                        "summary": "Example stored by VB User",
                                        "externalValue": "./examples/getEmp/response_default_application_json_vb.json"
                                    }
                                }
                            }
                        }
                    }
                },
                "x-vb": {
                    "actionHint": "getMany"
                }
            },
            "post": {
                "operationId": "postEmp2",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PostEmpRequest"
                            },
                            "examples": {
                                "vb": {
                                    "externalValue": "./examples/postEmp2/request_application_json_vb.json"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "default": {
                        "description": "Response for default",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PostEmpResponse"
                                },
                                "examples": {
                                    "vb": {
                                        "summary": "Example stored by VB User",
                                        "externalValue": "./examples/postEmp2/response_default_application_json_vb.json"
                                    }
                                }
                            }
                        }
                    }
                },
                "x-vb": {
                    "actionHint": "create"
                }
            }
        }
    },
    "components": {
        "schemas": {
            "GetEmp": {
                "type": "object",
                "properties": {
                    "items": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "name": {
                                    "type": "string",
                                    "nullable": true
                                },
                                "salary": {
                                    "type": "string",
                                    "nullable": true
                                },
                                "job": {
                                    "type": "string",
                                    "nullable": true
                                },
                                "id": {
                                    "type": "integer",
                                    "nullable": true
                                },
                                "links": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "rel": {
                                                "type": "string"
                                            },
                                            "href": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "hasMore": {
                        "type": "boolean"
                    },
                    "limit": {
                        "type": "integer"
                    },
                    "offset": {
                        "type": "integer"
                    },
                    "count": {
                        "type": "integer"
                    },
                    "links": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "rel": {
                                    "type": "string"
                                },
                                "href": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            },
            "PostEmpResponse": {
                "type": "object",
                "properties": {
                    "name": {
                        "type": "string"
                    },
                    "salary": {
                        "type": "string"
                    },
                    "job": {
                        "type": "string"
                    },
                    "id": {
                        "type": "integer"
                    },
                    "links": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "rel": {
                                    "type": "string"
                                },
                                "href": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            },
            "PostEmpRequest": {
                "type": "object",
                "properties": {
                    "name": {
                        "type": "string"
                    },
                    "salary": {
                        "type": "string"
                    },
                    "job": {
                        "type": "string"
                    },
                    "id": {
                        "type": "integer"
                    }
                }
            }
        }
    }
}